src/main/mule/demo-3-git.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="af5dcfd8-939d-4196-80a9-8b3931eb7600" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="cicd-demoFlow" doc:id="db327ab6-8401-47cb-b744-058e739e14df" >
		<http:listener doc:name="Listener" doc:id="0dae8991-4c4d-461d-8e81-b0ecf25d70cd" config-ref="HTTP_Listener_config" path="/cicddemo"/>
		<ee:transform doc:name="Transform Message" doc:id="d224385c-aee7-4f6a-a11c-2b181c522ca1" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
"message" : "hello from cicd demo mule application"]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="9cddfab9-2871-406d-92f0-cf959b46710b" message="#[payload]"/>
	</flow>
</mule>
